body {
    font-family:  Helvetica;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
nav {
    display: flex;
    gap: 32px;

}

li{
    list-style: none;
}

a{
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px #eedddd;
    font-weight:borld;
    color: black;
    transition: 25;
} 
     a:hover{
        background-color: blue;
     }
        

